@import "./variables";
@import "./inicio";

body {
  background-color: black;
  .imagenFondo-cotizacion2{
    margin: 0;
    padding: 0;
    background-image: url("../../img/footer2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: Center;
    align-items: center;
    .fuente2 {
      color: white;
      text-shadow: 2px 2px 5px rgba(10, 0, 0, 0.925);
    }
  }
  h4{
    font-size: 4rem;
    font-family: $Dancing;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .valor{
    position: relative;
    left: 22rem;
    top: 2rem;
    .p2{
      display: flex;    
      font-size: 2.2rem;
      text-align: right;
      font-family: $Dancing;      
    }
  } 
  .tituloPagina{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-size: 2rem;
    div{
      display: flex;
      .logoLetras{
        display: flex;
        justify-content: center;
        width: 50%;
        height: auto;
      }
      .dueñoPyme{
        width: 50rem;
        height: 35rem;
      }
    }
    
  } 
  .container-cotizacion {
    display: flex;
    justify-content: center;
    align-items: center; 

    .cotizacion {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      .img-about {
        width: 20rem;
        border-radius: 50%;
        margin-left: 3rem;
      }
    }
    .p-cotizacion{
      width: 35rem;
      margin-left: 3rem;
      .row-cotizacion {
        display: flex;

        p {
          text-align: justify;
          font-family: $Playfair;
        }
        span {
          font-weight: bold;
          font-size: 2.5rem;
          font-family: $Dancing;
        }
      }
    }
  }
  .container-cotizacion2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: black;
    .video{
      display: flex;

    }
    .presupuesto1{
      display: flex;
      font-size: 1.5rem;
      flex-direction: column;
      color: white;
      padding: 1rem;
      .titulo{
        padding: 1rem;
      }
      .divisor{
        background-color: white;
        width: 20rem;
        height: 1px;
      }
      .puntoNone {
          list-style: none;        
      }
            
    }
    .imgPresupuesto6{
      width: 47rem;
      height: 30rem;
      position: relative;
      top: 1.5rem;
      left: 3rem;
      box-shadow: 0.2px 0.2px 10px white;
    }
    .imgPresupuesto1{
      width: 47rem;
      height: 30rem;
      position: relative;
      top: 1.5rem;
      right:2rem;
      box-shadow: 0.2px 0.2px 10px white;
    }

  }
  .container-cotizacion3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: white;
    ul{
      list-style-type: none;
    } 
    
      .presupuesto2{
      background-color: black;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      flex-direction: column;
      color: white;
      padding: 1rem;
      div{
        .imgPresupuesto2{
          width: 80rem;
          height: auto;
          position: relative;
          top: 1.5rem;
          right:2rem;
          box-shadow: 0.2px 0.2px 10px white;
        }
      }     
       .titulo2{
        padding: 1rem;
      }
      .divisor2{
        background-color: black;
        width: 20rem;
        height: 1px;
      }
    }
  }
  .container-cotizacion4{
    display: flex;
   justify-content: center;
    align-items: center;
    
    background-color: black; 
    .presupuesto4{
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      flex-direction: column;
      color: white;
      padding: 2rem;  
      .valor1{
        position:relative;
        left: 10rem;
        .p2{
          font-family: $Dancing;
          font-size: 2.2rem;
        }
      }    
      .imgPresupuesto4{
        width: 720px;
        height: auto;
        box-shadow: 0.2px 0.2px 10px white;
      }
      .titulo2{
        padding: 1rem;
      }
      .divisor2{
        background-color: white;
        width: 20rem;
        height: 1px;
      }
    }
    .container-cotizacion5{
      display: flex;
      justify-content: center;
       align-items: center;
       padding: 4rem;
       background-color: black; 
       ul{
        list-style-type: none;
       }
    }
  }
}
@media (max-width: $tablet) {
  body {
    
    background-color: black;
    .imagenFondo-cotizacion2{
      margin: 0;
      padding: 0;
      background-image: url("../../img/footer2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: Arial, sans-serif;
      color: #333;
      width: auto;
      height: 100vh;
      display: flex;
      justify-content: Center;
      align-items: center;
      .fuente2 {
        color: white;
        text-shadow: 2px 2px 5px rgba(10, 0, 0, 0.925);
      }
    }
    h4{
      font-size: 1rem;
      font-family: $Dancing;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: bold;
    }
    .valor{
      position: relative;
      left: 12rem;
      top: 0.5rem;
      .p2{
        display: flex;    
        font-size: 1.5rem;
        text-align: right;
        font-family: $Dancing;      
      }
    } 
    .tituloPagina{
      display: flex;
      flex-direction: column;
      background-color: black;
      color: white;
      font-size: 2rem;
      div{
        display: flex;
        flex-direction: column;
        .logoLetras{
          display: flex;
          justify-content: center;
          width: 30rem;
          height: 30rem;
          position: relative;
          bottom: -4rem;
        }
        .dueñoPyme{
          width: 100%;
          height: auto;
          position: relative;
          bottom: -2rem;
        }
      }
    } 
    .container-cotizacion {
      display: flex;
      justify-content: center;
      align-items: center; 
      ul{
        padding: 2rem;
        width: 100%;
        height: auto;
        li{
          font-size: 1.3rem;
        }
      }     
      .cotizacion {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        .img-about {
          width: 20rem;
          border-radius: 50%;
          margin-left: 3rem;
        }
      }
      .p-cotizacion{
        width: 35rem;
        margin-left: 3rem;
        .row-cotizacion {
          display: flex;  
          p {
            text-align: justify;
            font-family: $Playfair;
          }
          span {
            font-weight: bold;
            font-size: 2.5rem;
            font-family: $Dancing;
          }
        }
      }
    }
    .container-cotizacion2{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4rem;
      background-color: black;
      .video{
        display: flex;
  
      }
      .presupuesto1{
        display: flex;
        font-size: 1.5rem;
        flex-direction: column;
        color: white;
        padding: 1rem;
        .titulo{
          padding: 1rem;
        }
        .divisor{
          background-color: white;
          width: 20rem;
          height: 1px;
        }
        .puntoNone {
            list-style: none;        
        }
              
      }
      .imgPresupuesto6{
        width: 20rem;
        height: 12rem;
        position: relative;
        top: 1.5rem;
        left: 0.5rem;
        box-shadow: 0.2px 0.2px 10px white;
      }
      .imgPresupuesto1{
        width: 20rem;
        height: 12rem;
        position: relative;
        top: -5rem;
        right:-0.5rem;
        box-shadow: 0.2px 0.2px 10px white;
      }
  
    }
    .container-cotizacion3{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4rem;
      background-color: white;
      ul{
        list-style-type: none;
      }
      .imagen{
        display: flex;      
        box-shadow: 0.2px 0.2px 10px white;
      }
      .presupuesto2{
        background-color: black;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        flex-direction: column;
        color: white;
        padding: 1rem;
        div{
          .imgPresupuesto2{
            position: relative;
            left: 0.2rem;
            width: 20rem;
            height: auto;
            position: relative;
            top: 1.5rem;
            right:2rem;
            box-shadow: 0.2px 0.2px 10px white;
          }
        }   
        .titulo2{
          padding: 1rem;
        }
        .divisor2{
          background-color: black;
          width: 20rem;
          height: 1px;
        }
      }
    }
    .container-cotizacion4{
      display: flex;
      flex-direction: column;
     justify-content: center;
      align-items: center;      
      background-color: black; 
      .presupuesto4{
        display: flex;        
        align-items: center;
        font-size: 1.5rem;
        flex-direction: column;
        color: white;
        padding: 2rem;  
        .valor1{
          position:relative;
          left: 10rem;
          .p2{
            font-family: $Dancing;
            font-size: 2.5rem;
          }
        }    
        .imgPresupuesto4{
          width: 320px;
          height: auto;
          box-shadow: 0.2px 0.2px 10px white;
        }
        .titulo2{
          padding: 1rem;
        }
        .divisor2{
          background-color: white;
          width: 20rem;
          height: 1px;
        }
      }
      .container-cotizacion5{
        display: flex;
        flex-direction: column;
        justify-content: center;
         align-items: center;
         padding: 4rem;
         background-color: black; 
         ul{
          list-style-type: none;
         }
      }
    }
  }
}
