@import "./variables";
@import "./inicio";

body {
  background-color: black;
  .imagenFondo-cotizacion{
    margin: 0;
    padding: 0;
    background-image: url("../../img/GALERIA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: Center;
    align-items: center;
    .fuente2 {
      color: white;
      text-shadow: 2px 2px 5px rgba(10, 0, 0, 0.925);
    }
  }
  h4{
    font-size: 4rem;
    font-family: $Dancing;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .container-cotizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
 
    .cotizacion {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      background-color: black;
      .img-about {
        width: 40rem;
        border-radius: 50%;
        margin-left: 3rem;
      }
    }
    .p-cotizacion{
      width: 35rem;
      margin-left: 3rem;
      background-color: black;
      .row-cotizacion {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
          font-size: 1.3rem;
          font-family: $Playfair;
        }
        span {
          font-weight: bold;
          font-size: 2.5rem;
          font-family: $Dancing;
          text-align: center;
        }
      }
    }
  }
  .container-cotizacion2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: black;
    .divVideo{
      height: 1080;
      height: auto;
      .video{
        display: flex;
        justify-content: center;
        position: relative;
          
      }
    }   
  }
  .container-cotizacion3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: black;
    .imagen{
      display: flex;
      width: 1070px;
      height: 720px;
      box-shadow: 0.2px 0.2px 10px black;
    }
  }
  .divBoton{
    display: flex;
    padding: 2rem;
    justify-content: center;    
    align-items: center;
    position: relative;
    right:9rem;
    .btn-cotizar {
      background-color: white;
      margin-left: 18rem;
      color: black;
      text-decoration: none;
      font-family: $Dancing;
      font-size: 2rem;
      padding: 0.2rem 2rem;
      border: solid 1px black;
      border-radius: 0.5rem;      
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  
}
@media (max-width: $tablet) {
  body {
    main {
      .imagenFondo-cotizacion {
        background-position: center;
      }
      h1{
        position: relative;
        right: 20rem;
      }
      .container-cotizacion {
        flex-direction: column;
        width: 100%;
        height: auto;
        .cotizacion{
          width: 100%;
          text-align: center;
          margin-right: 2rem;
          .img-about {
            width: 100%;
            text-align: center;
          }
        }
        .p-cotizacion {
          width: 100%;
          padding: 1rem;
          font-size: 1rem;
          justify-content: center;
          align-items: center;
          margin-left: 0rem;
          .row-cotizacion {
            article {
              div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                p {
                  width: 100%;
                  font-size: 1rem;
                  padding: 0.4rem;
                  span {
                    font-size: 2rem;
                  }
                }
              }
            }
          }
        }
      }
      .container-cotizacion2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        background-color: black;
        .divVideo{
          height: auto;
        
          .video{
            display: flex;
            width: 400px;
            height: auto;
            position: relative;
            right: 1rem;
          }
        }     
      }
      .divBoton{
        display: flex;
        padding: 1rem;
        position: relative;
        right: 10rem;;
       
        .btn-cotizar {
          background-color: white;     
          color: black;
          text-decoration: none;
          font-family: $Dancing;
          font-size: 1.5rem;
          padding: 0.2rem 6rem;
          border: solid 1px black;
          border-radius: 0.5rem;      
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
